[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
faker = "*"
flask-cors = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-orm = "*"

[dev-packages]

[requires]
python_version = "3.8"
